@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

        :root{
            font-family:'Noto Sans KR',sans-serif;
            font-weight:400;
            font-size:14px;
            color:#111;
            line-height:1;
        }
        .grid{
            display:grid;
            grid-template-columns:repeat(4,1fr);
            column-gap:24px;
        }
        .container{
            max-width:1200px;
            margin:0 auto;
            padding:16px 24px;
        }

        .wrap{
            overflow:hidden;
            background-color: lightblue;
        }
        .header{            
            position:fixed;
            left:0;
            right:0;
            top:0;
            z-index:9999;
            border-bottom:1px solid #111;
            background:#fff;
        }
        
        .header .grid{
            row-gap:48px;
        }
        h1{
            grid-column:1/3;
        }
        h1 a{
            display:block;
            width:112px;
            height:32px;
            background:#111;
            font-weight:700;
            font-size:22px;
            text-align:center;
            line-height:32px;
            color:#fff;
        }
        .btn-nav{
            display:flex;
            flex-flow:column nowrap;
            justify-content:center;
            align-items:flex-end;
            grid-column:4/5;
        }
        .btn-nav::before,.btn-nav::after{
            content:'';
            display:block;
            width:24px;
            height:2px;
            border-radius:1px;
            background:#111;
            transition:0.3s linear;
        }
        .btn-nav.close::before{
            transform-origin:left top;
            transform:rotate(40deg) scaleX(1.2);
        }
        .btn-nav.close::after{
            transform-origin:left bottom;
            transform:rotate(-40deg) scaleX(1.2);
        }
        .btn-nav p{
            width:24px;
            height:2px;
            margin:7px 0;
            border-radius:1px;
            background:#111;
            text-indent:-9999px;
            transition:0.3s linear;
        }
        .btn-nav.close p{
            transform:scaleX(0);
        }
        
        nav{
            display:none;
            flex-flow:column nowrap;
            justify-content:space-between;
            align-items:center;
            grid-row:2/3;
            grid-column:1/5;
        }
        nav.active{
            display:flex;
        }
        nav button{
            width:144px;
            height:28px;
            margin-bottom:32px;
            border:1px solid #0075c2;
            border-radius:3px;
            background:transparent;
            font-size:15px;
            color:#0075c2;
            cursor:pointer;            
        }
        nav button.active{
            animation:bound 0.5s 0.5s forwards;
        }
        nav button:hover{
            background:#0075c2;
            color:#fff;
        }
        .main-nav{
            display:flex;
            flex-flow:column nowrap;
            align-self:flex-start;
            width:100%;
        }
        .main-nav>li{
            position:relative;
            border-top:1px solid #111;            
            font-size:15px;
        }
        .main-nav>li h2{
            padding:11px 0;
            display:flex;
            justify-content:space-between;
        }
        .main-nav>li h2::after{
            content:'';
            display:block;
            width:10px;
            height:10px;
            border:1px solid #111;
            border-top-color:transparent;
            border-left-color:transparent;
            transform:rotate(45deg);
            transition:0.3s;
        }
        .main-nav>li h2.active::after{
            transform:rotate(225deg);
        }
        .main-nav>li:last-child h2{
            padding-bottom:0;
        }
        .sub-nav{
            display:none;            
            grid-template-columns:repeat(4, 1fr);
            column-gap:24px;            
        }
        .sub-nav.active{
            display:grid;
        }
        .sub-nav>li{
            grid-column:1/5;
            border-bottom:1px solid #111;
            padding:12px 0;
        }
        .sub-nav>li:last-child{
            border-bottom:none;
        }
        .sub-nav h3{
            font-size:14px;
        }
        
        .sub-nav p{
            display:none;
            font-size:11px;
            padding-left:15px;
        }

        .sec01{
            padding-top:100px;
        }
        .sec .grid{
            row-gap:100px;
        }
        .art{
            grid-column:1/5;
        }
        .art02{
            display:none;
        }
        .art01 h2{
            margin-bottom:36px;
            font-weight:700;
            font-size:66px;
            text-align:center;
        }
        .art01 button{
            display:block;
            margin:0 auto;
            border:none;
            padding:16px;
            background:#8767b4;
            font-weight:500;
            font-size:15px;
            color:#fff;
            cursor:pointer;

        }
        .art02 h2{
            display:none;
        }
        .sec .art03{
            padding:72px 24px;
            background:#f0f0f0;
            row-gap:24px;
        }
        .art03 .img-box,.art03 h2,.art03 p{
            grid-column:1/5;
        }
        .art03 .img-box{
            width:320px;
            margin:0 auto;
        }
        .art03 h2{
            width:320px;
            margin:0 auto;
            font-weight:700;
            font-size:36px;
            text-align:center;
            line-height:1.2;
        }
        .art03 p{
            width:320px;
            margin:0 auto;
            text-align:center;
            line-height:1.2;
        }        
        .art04 h2,.art05 h2,.art10 h2{
            margin-bottom:24px;
            font-weight:700;
            font-size:36px;
        }        
        .art04 p,.art05 p{
              margin-bottom:16px;
              line-height:1.4;  
        }
        .art04 li,.art05 li{
            margin:0.5em 2em;
            list-style:initial;            
        }
        .art04 a, .art05 a{
            font-weight:500;
            font-size:15px;
            color:#0075c2;
            text-decoration:underline;
        }
        .art04 a:hover, .art05 a:hover{
            text-decoration:none;
        }
        .art06 .img-box,.art07 .img-box,.art08 .img-box{
            width:120px;
            margin:0 auto 24px;
        }
        .art06 h2,.art07 h2,.art08 h2{
            margin-bottom:16px;
            font-weight:700;
            font-size:26px;
            text-align:center;
        }
        .art06 a{
            text-decoration:underline green;
        }
        .art07 a{
            text-decoration:underline red;
        }
        .art08 a{
            text-decoration:underline blue;
        }
        .art06 p,.art07 p,.art08 p{
            padding:0 24px;
            text-align:center;
            line-height:1.2;
        }
        .art09 h2{
            display:none;
        }
        .art09 .img-box{
            width:300px;
            margin:0 auto;
        }
        .art10 label,.art10 input{
            display:block;
            width:100%;
        }
        .art10 input{
            margin-bottom:24px;
            padding:0.5em 1em;
        }
        .art10 input[type="email"]{
            outline:none;
            border:2px solid #111;
            border-radius:3px;
        }
        .art10 input[type="email"]:hover,.art10 input[type="email"]:focus{
            border-color:#0075c2;
        }

        .art10 input[type="submit"]{
            margin-bottom:0;
            outline:none;
            border:2px solid #111;
            border-radius:3px;
            background:#111;
            color:#fff;
        }
        .art10 input[type="submit"]:hover{
            background:#fff;
            color:#111;
        }
        .art10 p{
            font-size:12px;
            text-align:center;
        }
        .footer{
            padding:80px 0;
            background:#111;
            color:#fff;
        }
        .footer h2 a{
            display:block;
            width:120px;
            margin-bottom:24px;
            padding:0.2em 1em;
            background:#fff;
            font-size:1.4em;
            color:#111;
            text-align:center;
        }
        .nav-footer.grid{
            row-gap:48px;           
            padding-bottom:72px;
        }
        .nav-footer>li{
            grid-column:1/5;
        }
        .nav-footer h3{
            position:relative;
            font-size:1.2em;
            cursor:pointer;
        }
        .nav-footer h3::before,.nav-footer h3::after{
            position:absolute;
            right:0;
            top:50%;
            transform:translateY(-50%);
            content:'';
            display:block;
            width:16px;
            height:2px;
            background:#fff;
            transition:0.3s;
        }
        .nav-footer h3::after{
            transform:translateY(-50%) rotate(90deg);
        }
        .nav-footer h3.active::before{
            transform:translateY(-50%) rotate(45deg);
        }
        .nav-footer h3.active::after{
            transform:translateY(-50%) rotate(135deg);
        }        
        .nav-sub-footer{
            display:none;            
            padding-top:24px;
        }
        .nav-footer h3.active + .nav-sub-footer{
            display:block;
        }
        .nav-sub-footer li{
            padding:8px 0;
        }
        .nav-sub-footer a:hover{
            text-decoration:underline;
        }
        .follow h3{
            display:none;
        }
        .follow .nav-sub-footer{
            display:block;
            padding-top:0;
        }
        .follow li{
            display:flex;
            flex-flow:row wrap;            
        }
        .follow h4{
            width:100%;
            margin-bottom:6px;
        }
        .follow a{
            display:block;
            width:16px;
            height:16px;
            overflow:hidden;
            text-indent:-9999px;
            background-image:url('../images/icon-set.png');            
            background-size:300%;
        }
        .mozilla-follow a:nth-of-type(1){
            background-position:320px 0;
        }
        .mozilla-follow a:nth-of-type(2){
            background-position:640px 0;
        }
        .mozilla-follow a:nth-of-type(3){
            background-position:0 320px;
        }
        .mozilla-follow a:nth-of-type(4){
            background-position:320px 320px;
        }
        .mozilla-follow a:nth-of-type(5){
            background-position:640px 320px;
        }
        .mozilla-follow a:nth-of-type(6){
            background-position:0 640px;
        }
        .firefox-follow a:nth-of-type(1){
            background-position:320px 0;
        }
        .firefox-follow a:nth-of-type(2){
            background-position:0 320px;
        }
        .firefox-follow a:nth-of-type(3){
            background-position:640px 640px;
        }
        .info-footer.grid{
            row-gap:24px;
        }
        .info-footer.grid form,
        .info-footer.grid ul,
        .info-footer.grid address{
            grid-column:1/5;
        }
        .info-footer.grid label,
        .info-footer.grid select{
            display:block;
        }
        .info-footer.grid label{
            margin-bottom:6px;
            text-decoration:underline;
        }
        .info-footer.grid select{
            outline:none;
            border:2px solid #999;
            padding:0.5em 2em;
        }
        .info-footer.grid li{
            display:inline-block;
            margin:0 3em 12px 0;
        }
        .info-footer.grid a{
            text-decoration:underline;
        }
        address{
            font-style:normal;
            line-height:1.2;
        }




        /* ANIMATION */
        @keyframes bound{
            0%{transform:translateY(0)}
            30%{transform:translateY(-20px);}
            60%{transform:translateY(0);}
            75%{transform:translateY(-10px);}
            90%{transform:translateY(0);}
            95%{transform:translateY(-5px);}
            100%{transform:translateY(0);}
        }